@font-face {
  font-family: 'fonteKontrow';
  src: url('font/dronerangerpro_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('font/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes pulsar {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-usuario {
  position: fixed;
  top: 35px;
  right: 28px;
  z-index: 2px solid #ccc;
}

.icone-usuario {
  width: 31px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
}

.abaixarMenu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  min-width: 140px;

  /* ANIMAÇÃO */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;

  padding: 12px;
  font-family: "openSans";
  color: #192A56;
  font-weight: 500;
  z-index: 99;
}

.abaixarMenu.ativo {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);}

.abaixarMenu {
  padding: 12px;
  text-decoration: none;
  font-family: "openSans";
  color: #192A56;
  font-weight: 500;
  transition: background-color 0.3s;
}

.abaixarMenu a:hover {
  background-color:  #f5f5f5;
}

body, html {
  height: 100%;
}

.login-page {
  display: flex;
  height: 100vh;
}

.login-left {
  width: 50%;
  background-color: #fff;
  margin-top: 250px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msgError {
  visibility: hidden; 
  font-family: "openSans";
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  background-color: #e53935;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.msgError.mostrar {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.login-left .logo {
  width: 210px;
  margin-bottom: 25px;
  margin-top: -100px;
}

form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

form input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #f1f7ff;
}

form input:focus {
  border-color: #007bff;
  outline: none;
}

.quadrado1 {
  color: blue;
}

.link {
  font-size: 13px;
  color: #007bff;
  margin-bottom: 20px;
  margin-top: -27px;
  text-decoration: none;
}

.manter-login {
  position: relative;
  font-family: "openSans";
  font-size: 13px;
  text-align: left;
  vertical-align: top;
  color: #007bff;

}

.btn-login {
  padding: 12px;
  background-color: #192a56;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-login:hover {
  background-color: #0d162e;
}

.link-secondary {
  font-size: 13px;
  color: #333;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.footer-links {
  margin-top: auto;
  font-size: 12px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  color: #333;
  text-decoration: none;
}

.login-right {
  width: 50%;
  background: url('img/login-background.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.login-right .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #192A56;
}

.logoLogin-texto {
  font-family: "fonteKontrow";
  color: #192a56;
  margin-left: 172px;
  margin-top: -32px;
  margin-bottom: 10px;
}

.bloquear-scroll-e-zoom {
  overflow: hidden;
  touch-action: none;            
  overscroll-behavior: none;   
  zoom: 100%;    
}

.imgLogin {
  width: 1000px;
  object-fit: cover;
}

  #btn-imprimir {
    display: none;
    transition: 1;
    position: fixed;
    opacity: 70%;
    bottom: 13px;
    right: 20px;
    background-color: #192A56;
    color: white;
    border: none;
    padding: 16px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    transition: opacity 0.3s ease;
  }

  #btn-imprimir:hover {
    opacity: 100%;
  }

  @media print {
      .animar-entrada {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
    .video-box,
    #btn-imprimir,
    #btn-topo,
    header,
    nav,
    footer {
      display: none !important;
    }
        #btn-imprimir,
    #btn-topo,
    header,
    .etapas,
    .titulo-container,
    .linha-vermelha-top {
      display: none !important;
    }


    body {
      padding: 0;
      margin: 0;
      background: none;
      color: #000;
      font-size: 12pt;
    }
  }

.animar-entrada {
  opacity: 0; /* inicia invisível */
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animar-entrada.aparecer {
  animation: fadeSlideUp 1s ease-out both;
}

.botao-animado {
  animation: pulsar 0.5s ease;
}


html {
   scroll-behavior: smooth;
}

.zoom-ativo {
  transform: scale(1.50);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body {
  margin: 0;
  font-family: 'font/dronerangerpro_bold.otf', sans-serif;
  background-color: #fff;
  color: #561922;
}

.topo {
  background-color: #192a56;
  padding: 8px 0;
  border-bottom: 5px solid red;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-com-texto {
  position: relative;
  display: inline-block;
}

.logo-texto {
  position: absolute;
  font-family: 'fonteKontrow', sans-serif;
  top: 61%; /* coloca abaixo da imagem */
  left: 79%; /* ajusta horizontalmente mais à direita */
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-top: 8px;
  white-space: nowrap;
}

.logo {
  max-height: 85px;
}

.logoLogin {
  position: absolute;
  margin-right: 20px;
  margin-top: -78px;
  margin-bottom: 18px;
  max-height: 65px;
}


/* Engrenagens com rotação animada */
.engr1 {
  max-height: 38px;
  margin-top: 45px;
  margin-left: -5px;
  animation: girar 3s linear infinite;
}

.engr2 {
  max-height: 50px;
  margin-top: -25px;
  margin-left: -30px;
  animation: girar-reverso 3s linear infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes girar-reverso {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.titulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 20px;
}

.titulo {
  font-size: 47px;
  font-family: 'fonteKontrow';
  font-weight: bold;
  text-transform: uppercase;
  color: #192a56;
  text-shadow: 1px 1px 1px #aaa;
  display: inline-block;
  padding-bottom: 0px;
  margin-top: 0%;
}

.etapas {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin: 40px auto;
  padding: 0px 0px;
  flex-wrap: wrap;
}

.etapa {
  position: relative;
  flex: 1 1 200px;
  overflow: hidden;
  max-width: 250px;
  font-family: 'openSans';
  text-align: center;
  padding: 20px;
  border-left: 4px solid red;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-etapa {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.etapa:first-child {
  border-left: none;
}

.etapa img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.etapa h2 {
  font-size: 18px;
  font-family: "fonteKontrow";
  font-weight: bold;
  color: #192a56;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.etapa p {
  font-size: 15px;
  color: #192a56;
}

.botao6, .botao5, .botao4, .botao3, .botao2, .botao {
  position: absolute;
  background-color: #e01c25;
  opacity: 0%;
  color: rgb(255, 255, 255);
  margin-left: -37%;
  bottom: 1.25%;
  padding: 115px 100px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

.KDB {
    font-size: 28px;
  font-weight: bold;
  margin-bottom: -25px;
  margin-top: 30%;
  font-family: 'OpenSans';
  text-align: center;
  color: #192a56;
}

.passo1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: -25px;
  margin-top: 30%;
  font-family: 'OpenSans';
  text-align: center;
  color: #192a56;
}
.passo1::first-letter {
  color: #e01c25;
}

.softwares {
  font-size: 16px;
  color: #192a56;
  margin-bottom: 15px;
}

.bloco-instrucoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Agora apenas 2S por linha */
  gap: 10px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.passoIntrodução {
  background-color: #d5d5d53b;
  padding: 0px 25px;
  border-radius: 8px;
  text-align: left;
  font-size: 15px; /* Texto maior */
  line-height: 1.6;
}

.passoIntrodução-software {
  background-color: #d5d5d53b;
  padding: 37px 25px;
  border-radius: 8px;
  text-align: left;
  font-size: 15px; /* Texto maior */
  line-height: 1.6;
  a {
    font-family: "fonteKontrow";
    font-size: 35px;
    color: #192a56;
    text-decoration: underline;
    text-decoration-color: red;
   } 
  a:hover {
    color: red;
  }}

  .passoIntrodução { a{
    color: #192a56;
    text-decoration: underline;
    text-decoration-color: red;
  }
  
  a:hover {
    color: red;
  }
}

.passoIntrodução-hardware {
  background-color: #d5d5d53b;
  padding: 60px 25px;
  border-radius: 8px;
  text-align: left;
  font-size: 15px; /* Texto maior */
  line-height: 1.6;
  a {
    font-family: "fonteKontrow";
    font-size: 35px;
    color: #192a56;
    text-decoration: underline;
    text-decoration-color: red;
   } 
  a:hover {
    color: red;
  }}

  .passoIntrodução { a{
    color: #192a56;
    text-decoration: underline;
    text-decoration-color: red;
  }
  
  a:hover {
    color: red;
  }
}

.passoIntrodução {
  span {a{
  font-family: "fonteKontrow";
  font-size: 35px;
  font-weight: bold;
  margin-right: 4px;
  color: #192a56;
  text-decoration: underline red;
}}
}
.passo {
  background-color: #d5d5d53b;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: left;
  font-size: 17px; /* Texto maior */
  line-height: 1.6;
}
.fundoCinzaVideoBox {
  background-color: #d5d5d53b;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 02 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.passoKDB {
  font-family: "fonteKontrow";
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 1%;
  text-align: center;
  color: #192a56;
}

.bloco-producao {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  gap: 5px; /* espaçamento entre os elementos */
  margin-bottom: 40px;
}

.passo1 {
  font-size: 28px;
  font-family: 'openSans';
  font-weight: bold;
  color: #192a56;
  margin-bottom: 10px;
}

.passo2 {
  font-size: 28px;
  font-family: 'openSans';
  font-weight: bold;
  color: #192a56;
  margin-bottom: 20px;
}

.conteudo-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px; /* define o espaço entre subtítulo e softwares */
}

.subtitulo {
  font-family: 'openSans';
  font-size: 16px;
  font-weight: bold;
  color: #0e1c3f;
  margin-bottom: -15px;
}

.softwares {
  font-size: 15px;
  color: #0e1c3f;
  margin-bottom: -5px;
  font-family: 'openSans';
}

.linha-vermelha-top {
  position: relative;
  width: 60%;
  height: 4px;
  background-color: red;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 2px;
  margin: 0 auto;
}

.linha-vermelha-bottom{
  width: 30%;
  height: 4px;
  background-color: red;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 2px;
}

.linha-vermelha-bottom-introdução-up{
  width: 17%;
  height: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: red;
  border-radius: 2px;
  margin-top: 2%;
  margin-bottom: -0.2%;
}

.linha-vermelha-bottom-introdução-down{
  width: 17%;
  height: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: red;
  border-radius: 2px;
  margin-top: -2%;
  margin-bottom: 5%;
}

.linha-vermelha-bottom-instrução{
  display: flex;
  position: relative;
  width: 40%;
  height: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: red;
  margin-top: -3.2%;
  border-radius: 2px;

}

.software {
  font-family: "fonteKontrow";
  font-size: 30px;
}

.hardware {
  font-family: "fonteKontrow";
  font-size: 30px;
}

.passo span {
  color: red;
  font-weight: bold;
  margin-right: 4px;
}

.linha-vermelha-bottom-software {
  width: 25%;
  height: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: red;
  border-radius: 2px;
  margin-left: 247px;
  margin-top: -2%;
  margin-bottom: 5%;
}

body {
  margin: 0;
  font-family: 'openSans';
  background: #fff;
}

.instrucoes-KDB {
  background-color: #ffffff00; /* cinza claro que preenche toda a largura */
  padding: 20px 20px;
  width: 100%;
}

.instrucoes {
  background-color: #ffffff3b;
  padding: 37px 25px;
  border-radius: 8px;
  text-align: left;
  font-size: 15px; /* Texto maior */
  line-height: 1.6;
}

.instrucoes-KDB .container {
  max-width: 1400px; /* controla a largura máxima para o conteúdo */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  position: relative;
}

.instrucoes .container {
  max-width: 1400px; /* controla a largura máxima para o conteúdo */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  position: relative;
}

.passo-1_1 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.passo-1_2 {
  font-size: 18;
  margin-left: 13px;
  margin-top: 15px;
  margin-bottom: 38px;

}

.passo-1_3 {
 margin-bottom: 60px;
}

.passo-1_4 {
  font-size: 18;
  margin-left: 13px;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 6px;
}

.tooltip-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #192a56;
  color: white !important;   
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 500px;
  background-color: #d5d5d5d4;
  color: #192A56 !important;   
  text-align: center;
  font-weight: lighter !important;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 150%; /* posição acima do ícone */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 87%; /* seta abaixo do tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}


.coluna-KDB {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #192a56;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 10px;
}

.container-KDB {
  max-width: 1400px; /* controla a largura máxima para o conteúdo */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  position: relative;
}

.coluna {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #192a56;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 10px;
  a{
    color: #FD720E;
    text-decoration: underline white;
  }
}

.coluna span {
  color: red; 
  font-weight: 600;
  margin-right: 5px;
}

.barra-separadora {
  position: absolute;
  margin-top: 30px;
  width: 4px;
  background-color: red;
  border-radius: 2px;
  height: 80%;
  align-self: stretch;
}

.video-box {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

#video4 {
  margin-top: 29px;
}
#video6 {
  margin-top: 29px;
}

#video7 {
  margin-top: 108px;
}
.video1-8 {
  width: 91%;
  max-width: 500px;
  margin-left: -0px;
  margin-top: -28px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.zoom-img {
  transition: transform 0.3s ease;
  cursor: zoom-in;
  z-index: 1;
  position: relative;
  max-width: 100%;
  height: auto;
}

.zoom-img.zoomed {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.7);
  transform-origin: center center;
  z-index: 9999;
  cursor: zoom-out;
  background-color: rgba(0, 0, 0, 0.8);
}


#video9 {
  margin-top: 0px;
}

#video2-2 {
  margin-top: 54px;
}

.video-box video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#btn-topo {
  display: none; /* invisível por padrão */
  opacity: 70%;
  transition: 1;
  position: fixed;
  bottom: 70px;
  right: 22px;
  z-index: 100;
  background-color: #192a56;
  color: rgb(255, 255, 255);
  border: none;
  padding: 16px 22px;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
  transition: opacity 0.3s ease;
}

#btn-topo:hover {
  opacity: 1;
}